/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @font-face {
     font-family: "Lovelo";
     src: url(../fonts/Lovelo.otf);
   }
   @font-face {
      font-family: "pba";
      src: url(../fonts/pba.ttf);
    }

.agenda_container, .footer_container{
  max-width:1400px;
}

.agenda_paul h2{
  font-size:25px;
}


.special_font{
  font-family: "Lovelo";
}

.agenda_paul .button_border{
  background-color: white;
  border:5px solid black;
  border-radius:0px;
  font-size:15px;
}

.agenda_paul .button_border:hover{
  background-color:white;
  border-color:black;
}

.dropdown_style{
  border-bottom:5px solid black;
  border-right:5px solid black;
  border-left:5px solid black;
  border-top:none;
  border-radius:0px;
  width:243px;
}

.triangle, .triangle2{
  width:0;
  height:0;
  position:relative;
}

.triangle{
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid black;
  left:50%;
  margin-left:-10px;
}

.agenda1, .agenda2, .agenda3, .agenda4{
  background-size:cover;
  background-position: center center;
  height:280px;
}

.agenda_paul .right_corner{
  width:37px;
  height:37px;
  border-top:16px solid;
  border-right:16px solid;
  position:absolute;
  top:0;
  right:0;
}

.agenda_paul .details1{
  border-top:1px solid #79a506;
}

.agenda_paul .details1 .right_corner{
  border-color:#79a506;
}

.agenda_paul .details1 .color_text{
  color:#79a506;
}

.agenda_paul .details2{
  border-top:1px solid #935297;
}

.agenda_paul .details2 .right_corner{
  border-color:#935297;
}

.agenda_paul .details2 .color_text{
  color:#935297;
}

.agenda_paul .details3{
  border-top:1px solid #d3336c;
}

.agenda_paul .details3 .right_corner{
  border-color:#d3336c;
}

.agenda_paul .details3 .color_text{
  color:#d3336c;
}

.agenda_paul .details4{
  border-top:1px solid #f36523;
}

.agenda_paul .details4 .right_corner{
  border-color:#f36523;
}

.agenda_paul .details4 .color_text{
  color:#f36523;
}

.agenda1{
  background-image: url('../img/agenda_img1.jpg');
}
.agenda2{
  background-image: url('../img/agenda_img2.jpg');
}
.agenda3{
  background-image: url('../img/agenda_img3.jpg');
}
.agenda4{
  background-image: url('../img/agenda_img4.jpg');
}

.agenda_paul .pagination li .activeone{
  color:#D8383F;
}

.agenda_paul .pagination a{
  color:black;
  border-color:transparent;
  font-size:20px;
}


.agenda_paul .pagination a:hover {
  color: #D8383F;
  transition: color 0.3s;
}

.agenda_paul .next_right{
  right:50px;
  font-size:20px;
  border:5px solid black;
}

.triangle2{
  border-bottom:10px solid transparent;
  border-left:10px solid black;
  border-top:10px solid transparent;
  left:22px;
  top:3px;
}

footer{
  background-color:#1D1D1E;
}

footer a, footer p, footer h3{
  color:white;
}

footer p, footer li a{
  font-size:13px;
}

footer ul{
  list-style-type: none;
}

footer a{
  transition: all 0.3s;
}
footer a:hover{
  color:#D8383F;
  text-decoration: none;
}

footer .white_before li:before {
	content: "\2022";
	margin-right: 10px;
	color: #FFF;
}

hr{
  color:white;
  width:85%;
}

footer .last_ul{
  width:94%;
}

footer .last_ul i{
  position:absolute;
  left:-30px;;
  top:12px;
}

footer .last_ul a{
  font-size:18px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  .footer_container{
    max-width:550px;
  }
}

@media only screen and (min-width:1200px){
  .footer_container{
    max-width:1400px;
  }
}

@media only screen and (max-width:1200px){
  .details1, .details2, .details3, .details4{
    border-top:none;
  }
  h3{
    font-size:1.3em;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
